<div class="container">
    <h1 class="titulo">Gerenciamento de Estoque</h1>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        </form>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
      </div>
    </nav>