<div class="container">
  <h1 class="titulo">Stock Manager</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <div class="d-flex justify-content-between w-100">
          <div>
            <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#addItemModal">Cadastrar Produtos</button>
            <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#addFornecedorModal">Cadastrar Fornecedores</button>
            <a href="/registros"><button class="btn btn-secondary mt-3" type="button" >Registros</button></a>
          </div>
          <form class="form-inline my-2 my-lg-0" action="/pesquisa" method="get">
            <div class="input-group">
              <input class="form-control" type="search" name="query" placeholder="Pesquisar" aria-label="Pesquisar">
              <div class="input-group-append">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </nav>