<div class="container">
    <h1 class="titulo">Stock Manager</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <div class="d-flex justify-content-between w-100">
        <div>
        <a href="/home" ><button class="btn btn-secondary mt-3">Voltar</button></a>
        <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#addItemModal">Adicionar Registro</button>
        </div>
        <form class="form-inline my-2 my-lg-0" action="/pesquisa" method="get">
        </form>
    </div>
    </div>
</nav>